.select {
    background-image: url("../../assets/icon/arrow-down-black.svg");
    background-size: 24px;
    background-position: right 12px center;
    border: 1px solid #E0E0E0;
    position: relative;
    padding-left: 12px;
    width: 76px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.select__option-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 110%;
    left: 0;
    background: white;
    border-radius: 3px;
    width: 100%;
    display: none;
    box-shadow: 0px 4px 16px rgba(23,27,42,0.24);
}

.select__options {
    padding: 8px;
    border-radius: 4px;
    height: 36px;
}

.select__options:nth-child(1) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.select__options:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.select__options:hover {
    cursor: pointer;
    background: rgba(80,184,60,0.1);
}

.select__options[selected="selected"] {
    background: rgba(80,184,60,0.1);
}

.select__options[selected="selected"]:hover {
    background: rgba(80,184,60,0.1);

}

.textfield__select-wrapper .select__option-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    background: white;
    border-radius: 3px;
    width: 100%;
    height: auto;
    display: none;
    bottom: -200%;
    z-index: 5;
}