/* .textfield__input-wrapper.datepicker-input-wrapper {
    display: flex;
    padding-right: 0;
    position: relative;
}

.datepicker-input {
    width: 100%;
}

.datepicker-input input {
    outline: none;
    border: none;
}

.datepicker-input input::placeholder {
    font-style: italic;
    font-family: Notosans Regular;
}

.datepicker-button {
    height: 100%;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 4px;
    padding-left: 2px;
    cursor: pointer;
}

.datepicker-button:hover {
    background-color: gainsboro;
}

.datepicker-icon {
    background-image: url("../../assets/icon/date-picker.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.calendar {
    width: 300px;
    background-color: white;
    border: 1px solid #babec5;
    position: absolute;
    z-index: 2;
    right: 26%;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 8px;
    height: 38px;
    font-weight: bold;
}

.calendar-prev-button {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.calendar-next-button {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}


.calendar-body-wrapper {
    padding: 0 12px;
}

.calendar-body {
    margin: 0;
    width: 100%;
    text-align: center;
}

.calendar-dotw th {
    width: 36px;
    height: 36px;
    padding: 0 10px;
    color: #757575;
}


.calendar-body tr td {
    border: 1px solid #fff;
    font-weight: 400;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 0 10px;
    cursor: pointer;
    transition: .1s ease-in-out;
    color: #757575;
}

.calendar-body tr td:hover {
    border: 1px solid #2ca01c;
}

.calendar-body td.selected{
    border: none;
    color: #08bf1e;
    font-weight: 600;
    background-color: rgba(44,160,28,0.2)
}

.calendar-body td.selected:hover {
    border: none;
}

.line-break {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    height: 1px;
    width: 100%;
    margin-top: 10px;
}

.line-break-header{
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    height: 1px;
    width: 263px;
    top: 35px;
    left: 20px;
}

.calendar-bottom {
    text-align: center;
    padding: 8px 0 10px;
    height: 36px;
    color: #2ca01c;
}

.calendar-bottom div{
    cursor: pointer;
    display: inline-block;
} */
