.table__feature-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: white;

  .table__feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    gap: 20px;
    .textfield__input-wrapper {
      background-image: url("../../assets/icon/search.png");
      background-position: right 12px center;
      background-size: 16px;
      background-repeat: no-repeat;
      padding-right: 36px;
      min-width: auto;
      min-height: auto;
      overflow-x: hidden;
      height: 26px;

      .textfield__input {
        width: 65px;
        transition: 0.2s;
        &:focus {
          width: 165px;
        }
      }
    }

    .table__refresh-icon {
      background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -1098px -90px;
      width: 20px;
      height: 21px;
      cursor: pointer;
      flex-shrink: 0;
    }

    .table__excel-icon {
      background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -1265px -90px;
      width: 23px;
      height: 20px;
      cursor: pointer;
      flex-shrink: 0;
    }

    .table__setting-icon {
      background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat -676px -30px;
      width: 23px;
      height: 24px;
      cursor: pointer;
      flex-shrink: 0;
    }

    .customBtn {
      display: flex;
      height: 28px;
      .button {
        border-radius: 30px 0 0 30px;
        min-height: auto;
        height: auto;
        max-height: none;
        padding: 0;
        border-right: 1px solid white;
        height: 100%;
        min-width: auto;
        padding: 7px 10px 7px 16px;
      }
      .showImportModalBtn {
        border-radius: 0 30px 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2ca01c;
        padding: 0 12px 0 10px;
        cursor: pointer;
        position: relative;
        .arrowDown {
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid white;
        }
        .dialog {
          position: absolute;
          top: 150%;
          z-index: 4;
          background-color: rebeccapurple;
          width: auto;
          white-space: nowrap;
          height: auto;
          padding: 5px;
          background-color: white;
          cursor: pointer;
          border: 1px solid #babec5;
        }
      }
    }
  }
}

.table-content-wrapper {
  overflow: auto;
  height: 650px;
  background-color: white;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b8bcc3;
  }

  .table-content {
    width: 100%;
    border-spacing: 0;
    background-color: white;
    .table-content__header {
      background-color: #eceef1;
      z-index: 2;
      & tr {
        height: 32px;
        & th {
          font-family: Notosans Bold;
          white-space: nowrap;
          text-transform: uppercase;
          font-size: 12px;
          background-color: #eceef1;
          z-index: 3;

          &:not(:last-child) {
            padding: 0 16px;
            border-bottom: 1px solid #c7c7c7;
            border-right: 1px solid #c7c7c7;
          }
          &:last-child {
            padding: 0 16px;
            border-left: 1px solid #c7c7c7;
            border-bottom: 1px solid #c7c7c7;
          }
        }
      }
    }

    .table-content__body {
      background-color: white;
      & > tr {
        white-space: nowrap;
        font-family: Notosans Regular;
        font-weight: 400;
        height: 30px;

        .table__feature-cell {
          color: #0075c0;
          position: sticky;
          right: 0;
          background-color: white;
          z-index: 2;
          overflow: visible;

          #edit-text {
            cursor: pointer;
            font-weight: bold;
            &:active {
              outline: 1px solid #0075c0;
            }
          }

          .triangle-dropdown {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #0075c0;
            transform: translateY(-50%);
            margin-left: 5px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            &:active {
              outline: 1px solid #0075c0;
            }
          }
        }

        & td {
          background-color: white;
          &:not(:last-child) {
            padding: 0 16px;
            border-bottom: 1px solid #c7c7c7;
            border-right: 1px solid #c7c7c7;
          }
          &:last-child {
            padding: 0 16px;
            border-left: 1px solid #c7c7c7;
            border-bottom: 1px solid #c7c7c7;
          }
        }

        &:hover td {
          background-color: #f2f9ff;
        }
      }
    }
  }
  .table-content__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    left: 0;
    bottom: 0;
    padding: 0 16px;
    height: 56px;
    z-index: 2;
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    .dropdown-menu-wrapper {
      top: auto;
      bottom: 100%;
    }
  }
}

.align--center {
  text-align: center;
}

.align--left {
  text-align: left;
}

.align--right {
  text-align: right;
}

.table-feature-list-container {
  position: absolute;
  z-index: 3;
  white-space: nowrap;
  .table-feature-list {
    background-color: white;
    position: sticky;
    color: black;
    border: 1px solid #babec5;
    font-size: 13px;
    & > div {
      padding: 6px 10px;
      transition: 0.25s;
      &:hover {
        background-color: #eceef1;
        color: #2ca01c;
        cursor: pointer;
      }
    }
  }
}



.table__header-checkbox {
  position: sticky;
  left: 0;
  background-color: #eceef1;
  z-index: 1;
  padding: 0 10px !important;
}

.table__header-feature {
  position: sticky;
  right: 0;
  background-color: #eceef1;
}

.table__checkbox-cell {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 1;
  padding: 0 10px !important;
}

.table__custom-checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #afafaf;
  background: #fff;
  border-radius: 2px;
  margin: 0 auto;
  transition: all 0.2s ease;
  transform: rotate(-90deg);
  cursor: pointer;
  &.activated {
    transform: rotate(0deg);
    border-color: #2ca01c;
  }
  .checkmark {
    width: 10px;
    height: 6px;
    transform: rotate(-45deg) translate(-1px, 6px);
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-color: green;
  }
}





.row--checked {
  background-color: #e5f3ff;
}

.row--checked .table__feature-cell,
.row--checked .table__checkbox-cell {
  background-color: #e5f3ff;
}

.row--checked td {
  background-color: #e5f3ff !important;
}

.table__feature-delete-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.table__feature-delete-container .drop-all {
  color: #e72c2c;
  cursor: pointer;
}

.table__feature-delete-container .select-all {
  color: #1565c0;
  cursor: pointer;
}

.table__settings {
  height: 100vh;
  background-color: white;
  position: fixed;
  width: 50%;
  z-index: 4;
  top: 0;
  right: 0;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.table__settings--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 12px 16px;
}

.table__settings--header > p {
  color: #111;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}

.table__settings-feature--row {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 10px;
  align-items: center;
}

.table__settings-input-wrapper {
  display: flex;
  border: 1px solid #babec5;
  align-items: center;
  padding-right: 10px;
  border-radius: 2px;
}

.table__settings-input {
  height: 26px;
  outline: none;
  padding-left: 10px;
  border-radius: 2px;
  font-size: 13px;
  border: none;
}

.table__settings-input::placeholder {
  color: #9d9d9d;
  font-style: italic;
}

.table__settings-input-icon {
  background: url("../../assets/icon/Sprites.64af8f61.svg") no-repeat;
  background-position: -992px -360px;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.table__settings--body {
  flex-grow: 1;
}

.table__settings--body .table-content {
  width: 100%;
  padding: 0 16px;
}

.table__settings--body table tbody tr {
  height: 30px;
  font-size: 13px;
}

.table__settings--body table tbody tr:hover {
  background-color: #f2f9ff;
}

.table__settings--body table tbody tr td {
  border-bottom: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
}

.table__settings--body thead {
  background-color: #eceef1;
  font-size: 12px;
}

.table__settings-modify-btn {
  color: #0075c0;
  cursor: pointer;
}

.table__settings-divider {
  height: 4px;
  width: 100%;
  background: #f4f5f8;
}

.table__settings--footer {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  padding: 10px 16px;
}

.table__settings-btn-group--right {
  display: flex;
  gap: 10px;
}

.table__settings--footer .button {
  min-width: auto;
  min-height: auto;
  height: 26px;
  width: 60px;
  border-radius: 3px;
  padding: 6px 16px;
  white-space: nowrap;
  font-weight: 600;
}

.setting-default-btn .button {
  width: 160px;
}

.table__settings-checbox-header {
  width: 50px;
}

.table__settings-table-container tbody .textarea-container {
  display: none;
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 0 6px;
  border-radius: 2px;
  height: 26px;
  align-items: center;
}

.table__settings-table-container .editable .textarea-container {
  display: flex;
}

.table__settings-table-container tbody td textarea {
  resize: none;
  border: none;
  display: flex;
  height: 16px;
  overflow: hidden;
  outline: none;
  flex-grow: 1;
}

.table__settings-table-container tbody .textarea-container {
  width: 180px;
}

.table__settings-table-container tbody tr td:last-child .textarea-container {
  width: 80px;
}

.table__settings-table-container tbody .editable span {
  display: none;
}

.batch-execution-button {
  padding: 0 16px;
  border: 1px solid #3b3c3f;
  position: relative;
  height: 26px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
}

.batch-execution-button.deactive {
  border: 1px solid #b1b2b3;
  background: 0 0;
  color: #afafaf;
  cursor: default;
}

.batch-execution-button > p {
  margin: 0;
  position: relative;
  font-size: 13px;
  font-weight: bold;
}

.batch-execution-button > p::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  margin-left: 5px;
}

.batch-execution-button.deactive > p::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #afafaf;
}

.batch-execution-feature-list {
  position: absolute;
  background-color: white;
  padding: 2px 1px;
  border-radius: 2px;
  border: 1px solid #babec5;
  margin-top: 10px;
  height: auto;
  width: auto;
  z-index: 4;
  right: 0;
  top: 70%;
}

.batch-execution-feature-list > div {
  min-width: 100px;
  font-size: 13px;
  font-weight: 400;
  padding-left: 10px;
}

.table-content input[type="checkbox"] {
  cursor: pointer;
  border-radius: 3px;
  border: 1.5px solid black;
}

.draggable-icon {
  background: url("../../assets//icon/Sprites.64af8f61.svg") no-repeat -419px -363px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0;
}
